<html>
    <head>
        <title><%= title %></title>
        <link rel="stylesheet" href="/stylesheets/customer.css">
    </head>
    <body>
        <h1><%= title %></h1>
        <p>Preencha os campos abaixo para cadastrar um cliente.</p>
        <form>
            <fieldset>
                <legend>Dados Cadastrais</legend>
                <p>
                    Nome: <input type="text" name="nome">
                </p>
                <p>
                    Idade: <input type="number" name="idade">
                </p>
                <p>
                    Região: <input type="text" name="cidade">
                    <select name="uf">
                        <option>MG</option>
                        <option>SP</option>
                        <option>RJ</option>
                        <option>GO</option>
                    </select>
                </p>
                <p>
                    <input type="submit" value="Salvar">
                    <a href="/">Cancelar</a>
                </p>
            </fieldset>
        </form>
    </body>
</html>